.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
}

.about__title {
  margin: 0;
  padding: 0;
  width: 590px;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%; //57.6px
}

.about__wrap-right {
  padding-top: 7px;
  width: 590px;
}

.about__descriptor {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 140%; //25.2px
}

.about__reservation {
  width: 100%;
  margin-top: 25px;
}

.about__source-wrap {
  width: 1200px;
  height: 700px;
  margin-top: 30px;
}

.about__image {
  display: block;
}

@media (max-width:640px) {
  .about {
    margin-bottom: 120px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__wrap-right {
    padding-top: 0;
    width: 100%;
  }

  .about__reservation {
    margin-top: 15px;
  }

  .about__source-wrap {
    width: 620px;
    height: 360px;
    margin-top: 20px;
  }
}

@media (max-width:320px) {
  .about {
    margin-bottom: 80px;
  }

  .about__title {
    width: auto;
    font-size: 30px;
  }

  .about__descriptor {
    display: none;
  }

  .about__wrap-right {
    order: 1;
  }

  .about__source-wrap {
    width: 300px;
    height: 400px;
    margin-top: 0;
  }

  .about__reservation {
    color: #FFF;
    background-color: #17C182;

    &:hover,
    &:focus {
      color: #2D2D2D;
      background-color: #FFF;
    }
  }

}