/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 64px;
}

/* Logo */

.logo {
  flex-shrink: 0;
  width: 130px;
  height: 46px;
}

/* Site navigation */

.site-navigation {
  display: flex;
  gap: 5px;
  padding: 7px 15px;
  background-color: #FAFAFA;
  border-radius: 30px;
}

.site-navigation__link {
  display: block;
  padding: 12px 20px;
  color: #2D2D2D;
  font-weight: 500;
  line-height: 140%; //22.4px;
  border-radius: 30px;

  &:hover:not(.site-navigation__link--active),
  &:focus:not(.site-navigation__link--active) {
    background-color: #F3F3F3;
  }
}

.site-navigation__link--active {
  color: #FFF;
  background-color: #17C182;
  cursor: auto;
}

/* User navigation */

.user-navigation {
  display: flex;
  gap: 10px;
  padding: 8px 10px;
  background-color: #FAFAFA;
  border-radius: 30px;
}

.user-navigation__link {
  display: block;
  padding: 10px 24px;
  color: #2D2D2D;
  font-weight: 500;
  line-height: 140%; //22.4px;
  border-radius: 30px;
  border: 1px solid #17C182;

  &--profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 11px 10px;
  }

  &:hover,
  &:focus {
    color: #FFF;
    background-color: #17C182;
  }

  svg {
    fill: #17C182;
  }

  &:hover svg,
  &:focus svg {
    fill: #FFF;
  }
}

/* About */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
}

.about__title {
  width: 590px; //49.16666666666667%;
  color: #2D2D2D;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%; //57.6px
}

.about__wrap-left {
  padding-top: 12px;
  width: 590px; //49.16666666666667%;
}

.about__descriptor {
  color: #2D2D2D;
  font-size: 18px;
  line-height: 140%; //25.2px
}

.about__reservation {
  width: 100%;
  margin-top: 25px;
}

.about__source-wrap {
  // width: 1200px;
  // height: 700px;
  margin-top: 25px;
}

.about__image {
  display: block;
}

@media (max-width:640px) {
  /* Header */

  .header {
    margin: 20px 0 40px;
  }

  /* Logo */

  .logo {
    width: 114px;
    height: 50px;
  }

  /* Site navigation */

  .site-navigation {
    display: none;
  }

  /* User navigation */

  .user-navigation {
    gap: 0;
  }

  .user-navigation__link--profile {
    display: none;
  }

  /* About */

  .about {
    margin-bottom: 120px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__wrap-left {
    padding-top: 0;
    width: 100%;
  }

  .about__reservation {
    margin-top: 15px;
  }

  .about__source-wrap {
    margin-top: 20px;
  }
}

@media (max-width:320px) {
  /* Header */

  .header {
    margin: 10px 0 30px;
  }

  /* Logo */

  .logo {
    width: 85px;
    height: 30px;
  }

  /* User navigation */

  .user-navigation {
    padding: 5px;
  }

  .user-navigation__link {
    padding: 10.5px 19px;
    font-size: 14px;
    line-height: 120%; //16.8px
  }

  /* About */

  .about {
    margin-bottom: 80px;
  }

  .about__title {
    width: auto;
    font-size: 30px;
  }

  .about__descriptor {
    display: none;
  }

  .about__wrap-left {
    order: 1;
  }

  .about__source-wrap {
    margin-top: 0;
  }
}