.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 60px;
}

@media (max-width:640px) {
  .header {
    margin: 20px 0 40px;
  }

  .header__logo {
    align-self: center;
  }
}

@media (max-width:320px) {
  .header {
    margin: 10px 0 30px;
  }
}