.site-navigation {
  display: flex;
  gap: 5px;
  margin: 0;
  margin-left: auto;
  padding: 7px 15px;
  background-color: var(--c4);
  border-radius: 30px;
  list-style: none;
}

.site-navigation__link {
  display: block;
  padding: 12px 20px;
  color: var(--c2);
  font-weight: 500;
  line-height: 140%; //22.4px;
  text-decoration: none;
  border-radius: 30px;

  &.active {
    color: var(--c1);
    background-color: var(--c3);
    cursor: auto;
  }

  &:hover:not(.active),
  &:focus:not(.active) {
    background-color: #F3F3F3;
  }
}

@media (max-width:640px) {
  .site-navigation {
    display: none;
  }
}

@media (max-width:320px) {
  .user-navigation {
    padding: 5px;
  }

  .user-navigation__link {
    padding: 10.5px 19px;
    font-size: 14px;
    line-height: 120%; //16.8px
  }
}