.user-navigation {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-left: 89px;
  padding: 8px 10px;
  background-color: #FAFAFA;
  border-radius: 30px;
  list-style: none;
}

.user-navigation__link {
  display: block;
  padding: 10px 24px;
  color: #2D2D2D;
  font-weight: 500;
  line-height: 140%; //22.4px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid #17C182;

  &--profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 11px 10px;
  }

  &--active {
    color: #FFF;
    background-color: #17C182;
  }

  &:hover,
  &:focus {
    color: #FFF;
    background-color: #17C182;
  }

  svg {
    fill: #17C182;
  }

  &--active svg {
    fill: #FFF;
  }

  &:hover svg,
  &:focus svg {
    fill: #FFF;
  }
}


@media (max-width:640px) {
  .user-navigation {
    gap: 0;
    margin-left: 0;
  }

  .user-navigation__link--profile {
    display: none;
  }
}

@media (max-width:320px) {
  .user-navigation__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%; //16.8px
  }
}