.user-navigation {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-left: 89px;
  padding: 8px 10px;
  background-color: var(--c4);
  border-radius: 30px;
  list-style: none;
}

.user-navigation__link {
  display: block;
  padding: 10px 24px;
  color: var(--c2);
  font-weight: 500;
  line-height: 140%; //22.4px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid var(--c3);

  &--profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 11px 10px;
  }

  &--active {
    color: var(--c1);
    background-color: var(--c3);
  }

  &:hover,
  &:focus {
    color: var(--c1);
    background-color: var(--c3);
  }

  svg {
    fill: var(--c3);
  }

  &--active svg {
    fill: var(--c1);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--c1);
  }
}


@media (max-width:640px) {
  .user-navigation {
    gap: 0;
    margin-left: 0;
  }

  .user-navigation__link--profile {
    display: none;
  }
}

@media (max-width:320px) {
  .user-navigation__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%; //16.8px
  }
}